.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    // height: 500px;
    // background: rgba(128, 128, 128, 0.075);
    background-color: var(--secondaryColor);
    margin: 0 auto;
    word-break: break-all;
    

  }
  
  .bloc-tabs {
    display: flex;
    width: 220px;
  }
  .tabs-but {
    padding: 10px;
    text-align: center;
    width: 100%;
    background: var(--primaryColor);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    &:not(:last-child){
        border-right: 1px solid rgba(0, 0, 0, 0.274);
      }
  }
  
  
  .active-tabs  {
    background: transparent;
    color: var(--textWhiteColor);
    
 
  
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 2px;
    background: rgb(26,92,255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}
button {
    border: none;
    color: var(--textPrimaryColor);
    font-size: 1rem;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: var(--primaryColor);
    padding-top: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }

  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }
  