//font color

:root{
    // --primaryColor: #1b262c;
    --primaryColor: #060d17;
    --secondaryColor: #0a151f;
    --glowBlue: rgb(26,92,255);
    
    // --secondaryColor:
    --textWhiteColor: #fff;
    --textPrimaryColor: #5a606b;
    --textYellowColor: #f4c10f;;
    
}